{#-  Copyright 2026, Kay Hayen, mailto:kay.hayen@gmail.com find license text at end of file -#}

CompileFlags:
  Add:
    - -D__IDE_ONLY__
    - -DPy_BUILD_CORE
    - -DPYTHON_VERSION={{ python_version_hex }}
    - -D_NUITKA_EXE_MODE
    - -D_DEBUG
    - -DUNICODE
    - -D_UNICODE
    - -I{{ repo_root }}/nuitka/build/include
    - -I{{ repo_root }}/nuitka/build/static_src
    - -I{{ repo_root }}/nuitka/build/inline_copy/zlib
    - -I{{ repo_root }}/nuitka/build/inline_copy/libbacktrace
    - -I{{ python_include_path }}

{#-  Part of "Nuitka", an optimizing Python compiler that is compatible and           -#}
{#-  integrates with CPython, but also works on its own.                              -#}
{#-                                                                                   -#}
{#-  Licensed under the GNU Affero General Public License, Version 3 (the "License"); -#}
{#-  you may not use this file except in compliance with the License.                 -#}
{#-  You may obtain a copy of the License at                                          -#}
{#-                                                                                   -#}
{#-  https://www.gnu.org/licenses/agpl-3.0.txt                                        -#}
{#-                                                                                   -#}
{#-  See also: "Nuitka Runtime Library Exception, Version 1.0" in file                -#}
{#-  "LICENSE-RUNTIME.txt" for additional permissions granted under Section 7.        -#}
{#-                                                                                   -#}
{#-  Unless required by applicable law or agreed to in writing, software              -#}
{#-  distributed under the License is distributed on an "AS IS" BASIS,                -#}
{#-  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.         -#}
{#-  See the License for the specific language governing permissions and              -#}
{#-  limitations under the License.                                                   -#}
