*~
*.e4t
*.e4q
*.e4s
*.pyc
*.pyo
*.swp
*.swo
*.o
*.os
*.so
*.pyd
*.exe
*.build
tests/reflected/nuitka/
dist
MANIFEST
README.pdf
README.html
Developer_Manual.pdf
Developer_Manual.html
Changelog.pdf
Changelog.html
doc/*.1
doc/man-*.html
