*~
*.DS_Store
*.e4t
*.e4q
*.e4s
*.pyc
__pycache__/
*.pyo
*.swp
*.swo
*.o
*.os
*.so
*.pyd
*.pyi
*.exe
*.exe.away
*.cmd
*.bin
*.build
*.onefile-build
*.dist
*.app
*.key
*.xml
*.optimization.log
*.inclusion.log
*.strace
*.dtruss
*.nuitka-pgo
.mypy_cache
*.egg-info
tests/reflected/nuitka/
tests/reflected/tests/
tests/reflected/nuitka.py
tests/reflected/nuitka-runner.py
tests/basics/BigConstants.py
tests/generated/*.py
!tests/generated/run_all.py
tests/PyPI-pytest/venv_*
*.dblite
*.pdb
releases/
html
man/
htmlcov/
Mini.py
python??.dll
python??_d.dll
build
!nuitka/build
dist
MANIFEST
README.pdf
README.html
Developer_Manual.pdf
Developer_Manual.html
Changelog.pdf
Changelog.html
doc/*.1
doc/man-*.html
doxygen-warnings.log
venv_cpython/
venv_nuitka/
.pytest_cache
doxygen_*
doxygen-*
.coverage*
*.tmp
*.dat
.vscode/ipch
.vscode/tags
.vscode/.ropeproject
Nuitka-*
