[submodule "tests/CPython26"]
	path = tests/CPython26
	url = http://git.nuitka.net/tests-Nuitka-CPython26.git
[submodule "tests/CPython27"]
	path = tests/CPython27
	url = http://git.nuitka.net/tests-Nuitka-CPython27.git
