*~
*.DS_Store
*.e4t
*.e4q
*.e4s
*.pyc
*.pyo
*.swp
*.swo
*.o
*.os
*.so
*.pyd
*.pyi
*.exe
*.bin
*.build
*.dist
*.py.optimization.log
*.py.inclusion.log
*.strace
.mypy_cache
*.egg-info
tests/reflected/nuitka/
tests/reflected/tests/
tests/reflected/nuitka.py
tests/reflected/nuitka-runner.py
tests/basics/BigConstants.py
tests/generated/*.py
*.dist
*.build
*.dblite
*.pdb
releases/
man/
htmlcov/
Mini.py
python??.dll
python??_d.dll
build
!nuitka/build
dist
MANIFEST
README.pdf
README.html
Developer_Manual.pdf
Developer_Manual.html
Changelog.pdf
Changelog.html
doc/*.1
doc/man-*.html
doxygen-warnings.log
venv_cpython/
venv_nuitka/
.pytest_cache
doxygen_*
doxygen-*
*.tmp
.vscode/ipch
.vscode/tags
