[submodule "tests/CPython26"]
	path = tests/CPython26
	url = http://git.nuitka.net/tests-Nuitka-CPython.git
	branch = CPython26
[submodule "tests/CPython27"]
	path = tests/CPython27
	url = http://git.nuitka.net/tests-Nuitka-CPython.git
	branch = CPython27
[submodule "tests/CPython32"]
	path = tests/CPython32
	url = http://git.nuitka.net/tests-Nuitka-CPython.git
	branch = CPython32
[submodule "tests/CPython33"]
	path = tests/CPython33
	url = http://git.nuitka.net/tests-Nuitka-CPython.git
	branch = CPython33
[submodule "tests/CPython34"]
	path = tests/CPython34
	url = http://git.nuitka.net/tests-Nuitka-CPython.git
	branch = CPython34
[submodule "tests/CPython35"]
	path = tests/CPython35
	url = http://git.nuitka.net/tests-Nuitka-CPython.git
	branch = CPython35
[submodule "tests/CPython36"]
	path = tests/CPython36
	url = http://git.nuitka.net/tests-Nuitka-CPython.git
	branch = CPython36
