[submodule "tests/CPython26"]
	path = tests/CPython26
	url = http://git.nuitka.net/tests-Nuitka-CPython26.git
[submodule "tests/CPython27"]
	path = tests/CPython27
	url = http://git.nuitka.net/tests-Nuitka-CPython27.git
[submodule "gui"]
	path = gui
	url = https://github.com/juancarlospaco/nuitka-gui
[submodule "tests/CPython32"]
	path = tests/CPython32
	url = http://git.nuitka.net/tests-Nuitka-CPython32.git
[submodule "tests/CPython34"]
	path = tests/CPython34
	url = http://git.nuitka.net/tests-Nuitka-CPython34.git
[submodule "tests/CPython35"]
	path = tests/CPython35
	url = http://git.nuitka.net/tests-Nuitka-CPython35.git
