# Python project, check against all supported things.
language: python

matrix:
  include:
    - os: linux
      python: 2.7
      dist: xenial
      sudo: required
      env: PYTHON=python2.7
      cache: ccache
    - os: linux
      python: 3.5
      dist: xenial
      sudo: required
      env: PYTHON=python3.5
      cache: ccache
    - os: linux
      python: 3.6
      dist: xenial
      sudo: required
      env: PYTHON=python3.6
      cache: ccache
    - os: linux
      python: 3.7
      dist: xenial
      sudo: required
      env: PYTHON=python3.7
      cache: ccache
    - os: linux
      python: 3.8
      dist: xenial
      sudo: required
      env: PYTHON=python3.8
      cache: ccache
    # - os: osx
    #   osx_image: xcode11.3
    #   language: shell
    #   before_install:
    #   - brew update -q
    #   - brew outdated python || brew upgrade python
    #   - brew install ccache
    #   - export PATH="/usr/local/opt/ccache/libexec:$PATH"
    #   env: PYTHON=python
    # - os: osx
    #   osx_image: xcode11.3
    #   language: shell
    #   before_install:
    #   - brew update -q
    #   - brew outdated python@3 || brew upgrade python@3
    #   - brew install ccache
    #   - export PATH="/usr/local/opt/ccache/libexec:$PATH"
    #   env: PYTHON=python3

# disable submodules from git
git:
  submodules: false
# commands to install dependencies
install:
  - 'if [ -x "$(command -v apt-get)" ]; then sudo apt-get install chrpath; fi'
  - "pip install -r requirements-devel.txt"
  - "pip install ."
# commands to run tests
script:
  - '$PYTHON -m nuitka --version'
  - 'env | sort'
  - '$PYTHON ./tests/run-tests --no-other-python --skip-reflection-test --skip-all-cpython-tests'
  - 'if [ "$TRAVIS_PYTHON_VERSION" = "3.7" ]; then ./bin/check-nuitka-with-restlint; fi'
  - 'if [ "$TRAVIS_PYTHON_VERSION" = "3.7" ]; then ./bin/check-nuitka-with-codespell; fi'
  - 'if [ "$TRAVIS_PYTHON_VERSION" = "3.7" ] || [ "$TRAVIS_PYTHON_VERSION" = "2.7" ]; then ./bin/check-nuitka-with-pylint; fi'
