# Python project, check against all supported things.
language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.6-dev" # 3.6 development branch
# command to install dependencies
install: "sudo apt-get install scons chrpath"
# command to run tests
script: ./tests/run-tests --no-other-python --skip-reflection-test --skip-all-cpython-tests
