include LICENSE
include MANIFEST.in

include bin/*.sh
include bin/make_diffable

recursive-include src *.cpp *.asm ucontext.h COPYING.LIB
recursive-include include *.hpp

include misc/*.sh
include misc/*.bat
include misc/check-with-pylint

include dialogs/InspectPythonTree.ui

recursive-include lib *.py

# Core tests are included along with Nuitka itself.
recursive-include tests/basics *.py run_all.sh
recursive-include tests/programs *.py run_all.sh
recursive-include tests/benchmarks *.py LICENSE README

recursive-include tests/reflected *.py
