# Speed up Nuitka by having this available. On Windows, installing on 2.7 is not
# working easily, so lets exclude that.
ordered-set == 4.1.0; python_version >= '3.7'
orderedset == 2.0.3 ; os.name != 'nt' and sys.platform != 'darwin' and python_version < '3.7'
orderedset == 2.0.3 ; os.name == 'nt' and python_version >= '3.6' and python_version < '3.7'
orderedset == 2.0.3 ; sys.platform == 'darwin' and python_version < '3.7'

# Make testing more reliable on Python2 with timeout features added.
subprocess32 == 3.5.4 ; python_version == '2.7'

# PyLint wouldn't be installable on 2.6 and not work with too old Python3
pylint == 2.17.4 ; python_version >= '3.8'
astroid == 2.15.6 ; python_version >= '3.8'

# linting rest code snippets
restructuredtext-lint==1.4.0 ; python_version >= '3.8'
Pygments == 2.15.1 ; python_version >= '3.8'
rstcheck == 6.2.0 ; python_version >= '3.8'

# Auto-format needs
black == 23.7.0 ; python_version >= '3.8'
toml >= 0.10.1 ; python_version >= '3.8'
isort == 5.11.4 ; python_version >= '3.8'
yamllint == 1.28.0 ; python_version >= '3.8'
rstfmt == 0.0.13 ; python_version >= '3.8'
jsonschema == 4.6.0 ; python_version >= '3.8'
ruamel.yaml == 0.17.21 ; python_version >= '3.8'
deepdiff == 5.8.1 ; python_version >= '3.8'
mdformat == 0.7.16 ; python_version >= '3.8'
mdformat-gfm == 0.3.5 ; python_version >= '3.8'
mdformat-frontmatter == 2.0.1 ; python_version >= '3.8'
mdformat-footnote == 0.1.1 ; python_version >= '3.8'

# Codespell can be used as well, no need to fix version
codespell ; python_version >= '3.8'

# API doc, doxygen helper for Python
doxypypy == 0.8.8.6 ; python_version >= '2.7'

# Run time code generation needs Jinja2 now
Jinja2 == 2.11.3 ; python_version == '2.7'
Jinja2 == 3.0.3 ; python_version >= '3.7'

# For the progress bar to look nicely.
tqdm == 4.64.1 ; python_version == '2.7' or python_version >= '3.4'

# Distutils test, packaging test for PyPI, fixed for Python2 breakage
# of newer virtualenv.
virtualenv == 16.7.10; python_version == '2.7'
virtualenv ; python_version >= '3.5'

# Tests of PyPI packages need that usually.
pytest; python_version == '2.7' or python_version >= '3.4'

# Onefile compression
zstandard >= 0.15; python_version >= '3.5'

# Plugins need that
pyyaml == 6.0; python_version >= '3.6'
# Python3.5 was dropped sooner than Python2.
pyyaml == 5.3.1; python_version == '3.5'
pyyaml == 5.4.1; python_version == '2.7'

# Packaging
wheel

pip < 21.0 ; python_version == '2.7'
