# Speed up Nuitka by having this available. On Windows, installing on 2.7 is not
# working easily, and 3.10 has issues on everything but Linux, but definitely on
# macOS and Windows.
orderedset == 2.0.3 ; os.name != "nt" and sys.platform != "darwin"
orderedset == 2.0.3 ; os.name == "nt" and python_version >= '3.4' and python_version <= "3.9"
orderedset == 2.0.3 ; sys.platform == "darwin" and python_version <= "3.9"

# Make testing more reliable on Python2 with timeout features added.
subprocess32 == 3.5.4 ; python_version == '2.7'

# PyLint wouldn't be installable on 2.6 and not work with too old Python3
pylint == 2.12.2 ; python_version >= '3.7'
astroid == 2.9.3 ; python_version >= '3.7'

# linting rest code snippets
restructuredtext-lint==1.3.2 ; python_version == '2.7' or python_version >= '3.7'
Pygments == 2.10.0 ; python_version >= '3.7'
rstcheck == 3.3.1 ; python_version == '2.7' or python_version >= '3.7'

# Autoformat needs
black == 22.1.0 ; python_version >= '3.7'
toml >= 0.10.1 ; python_version >= '3.7'
isort == 5.9.3 ; python_version >= '3.7'
yamllint == 1.26.3 ; python_version >= '3.7'
rstfmt == 0.0.10 ; python_version >= '3.7'

# API doc, doxygen helper for Python
doxypypy == 0.8.8.6 ; python_version >= '2.7'

# Runtime code generation needs Jinja2 now
Jinja2 == 2.11.3 ; python_version == '2.7'
Jinja2 == 3.0.3 ; python_version >= '3.7'

# For the progress bar to look nicely.
tqdm == 4.62.3 ; python_version == '2.7' or python_version >= '3.4'

# Codespell can be used as well, no need to fix version
codespell ; python_version >= '2.7'

# Distutils test, packaging test for PyPI, fixed for Python2 breakage
# of newer virtualenv.
virtualenv == 16.7.10; python_version == '2.7'
virtualenv ; python_version >= '3.5'

# Tests of PyPI packages need that usually.
pytest; python_version == '2.7' or python_version >= '3.4'

# Onefile compression
zstandard; python_version >= '3.5'

# Plugins need that
pyyaml == 6.0; python_version >= '3.6'
# Python3.5 was dropped sooner than Python2.
pyyaml == 5.3.1; python_version == '3.5'
pyyaml == 5.4.1; python_version == '2.7'

# Packaging
wheel

pip < 21.0 ; python_version == '2.7'
