
# Folders to use for cache files.
appdirs == 1.4.4

# Scons is the backend building tool to turn C files to binaries.
scons == 3.1.2

# For the progress bar to look nicely.
tqdm == 4.56.0

# PEFile is needed on Windows internal dependency walker
# pefile == 2019.4.18
