{#     Copyright 2021, Kay Hayen, mailto:kay.hayen@gmail.com                    #}
{#                                                                              #}
{#     Part of "Nuitka", an optimizing Python compiler that is compatible and   #}
{#     integrates with CPython, but also works on its own.                      #}
{#                                                                              #}
{#     Licensed under the Apache License, Version 2.0 (the "License");          #}
{#     you may not use this file except in compliance with the License.         #}
{#     You may obtain a copy of the License at                                  #}
{#                                                                              #}
{#        http://www.apache.org/licenses/LICENSE-2.0                            #}
{#                                                                              #}
{#     Unless required by applicable law or agreed to in writing, software      #}
{#     distributed under the License is distributed on an "AS IS" BASIS,        #}
{#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. #}
{#     See the License for the specific language governing permissions and      #}
{#     limitations under the License.                                           #}
{#                                                                              #}

{% if "tshape_dict" in shape_names %}
{% set dict_shape = 1 %}
{% set dict_operation_version_check = attribute_shape_versions.get((attribute_name, "tshape_dict")) %}
{% else %}
{% set dict_shape = 0 %}
{% endif %}

class ExpressionAttributeLookupFixed{{attribute_name.title()}}(ExpressionAttributeLookupFixedBase):
    """Looking up an attribute value {{attribute_name.title()}} of an object.

    Typically code like: source.{{attribute_name}}
    """

    kind = "EXPRESSION_ATTRIBUTE_LOOKUP_FIXED_{{attribute_name.upper()}}"
    attribute_name = "{{attribute_name}}"

    def computeExpression(self, trace_collection):
        subnode_expression = self.subnode_expression

{% if dict_shape %}
{% if dict_operation_version_check %}
        if {{dict_operation_version_check}} and subnode_expression.hasShapeDictionaryExact():
{% else %}
        if subnode_expression.hasShapeDictionaryExact():
{% endif %}
            result = ExpressionAttributeLookupDict{{attribute_name.title()}}(
                expression=subnode_expression, source_ref=self.source_ref
            )

            return result, "new_expression", "Attribute lookup '{{attribute_name}}' on dict shape resolved."
{% endif %}

        return subnode_expression.computeExpressionAttribute(
            lookup_node=self,
            attribute_name="{{attribute_name}}",
            trace_collection=trace_collection,
        )

    def mayRaiseException(self, exception_type):
        return self.subnode_expression.mayRaiseExceptionAttributeLookup(
            exception_type=exception_type, attribute_name="{{attribute_name}}"
        )

attribute_classes["{{attribute_name}}"] = ExpressionAttributeLookupFixed{{attribute_name.title()}}

{% if "tshape_dict" in shape_names %}

from nuitka.specs.BuiltinDictOperationSpecs import dict_{{attribute_name}}_spec

class ExpressionAttributeLookupDict{{attribute_name.title()}}(ExpressionAttributeLookupFixed{{attribute_name.title()}}):
    """Attribute {{attribute_name.title()}} lookup on a dict.

    Typically code like: some_dict.{{attribute_name}}
    """

    kind = "EXPRESSION_ATTRIBUTE_LOOKUP_DICT_{{attribute_name.upper()}}"
    attribute_name = "{{attribute_name}}"

    def computeExpression(self, trace_collection):
        return self, None, None

    @staticmethod
    def mayRaiseException(exception_type):
        return False

    @staticmethod
    def mayHaveSideEffects():
        return False

    def computeExpressionCall(self, call_node, call_args, call_kw, trace_collection):
        def wrapExpressionDictOperation{{attribute_name.title()}}(source_ref):
{% if python3_operation_name %}
            if str is bytes:
                from .DictionaryNodes import ExpressionDictOperation{{attribute_name.title()}}

                return ExpressionDictOperation{{attribute_name.title()}}(
                    dict_arg=self.subnode_expression, source_ref=source_ref
                )
            else:
                from .DictionaryNodes import ExpressionDictOperation{{python3_operation_name.title()}}

                return ExpressionDictOperation{{python3_operation_name.title()}}(
                    dict_arg=self.subnode_expression, source_ref=source_ref
                )
{% else %}
            from .DictionaryNodes import ExpressionDictOperation{{attribute_name.title()}}

            return ExpressionDictOperation{{attribute_name.title()}}(
                dict_arg=self.subnode_expression, source_ref=source_ref
            )
{% endif %}

        result = extractBuiltinArgs(
            node=call_node,
            builtin_class=wrapExpressionDictOperation{{attribute_name.title()}},
            builtin_spec=dict_{{attribute_name}}_spec,
        )

        return result, "new_expression", "Call to '{{attribute_name}}' of dictionary recognized."

{% endif %}
