Source: nuitka
Maintainer: Kay Hayen <kayhayen@gmx.de>
Section: python
Priority: optional
Build-Depends: python (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.2

Package: nuitka
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, g++-4.6 (>= 4.6.1), scons (>=2.0.1)
Recommends: python-lxml (>=2.3), python-qt4 (>= 4.8.6)
Description: Python compiler with full language support and CPython compatibility
 This Python compiler achieves full language compatibility and compiles Python
 code into compiled objects that are not second class to pure Python objects
 at all.
X-Python-Version: >= 2.6
