# These are requirements of tools used by Nuitka in a private pip space.

# Auto-format and checking.
black == 26.3.1 ; python_version >= '3.11'
isort == 8.0.1 ; python_version >= '3.11'
yamllint == 1.28.0 ; python_version >= '3.11'
rstfmt == 0.0.14 ; python_version >= '3.11'
jsonschema == 4.6.0 ; python_version >= '3.7'
ruamel.yaml == 0.17.21 ; python_version >= '3.11'
deepdiff == 8.6.1 ; python_version >= '3.11'
mdformat == 1.0.0 ; python_version >= '3.11'
mdformat-gfm == 1.0.0 ; python_version >= '3.11'
mdformat-frontmatter == 2.0.10 ; python_version >= '3.11'
mdformat-footnote == 0.1.3 ; python_version >= '3.11'
clang-format == 22.1.1

# Distutils --project integration.
toml == 0.10.2 ; python_version >= '3.11'
tomli == 1.1.0 ; python_version < '3.11' and python_version >= '3.7'
